@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300&display=swap');
body {
    background-image: url(/img/home_bg.png);
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #464646;
    font-family: poppins ;
    margin: 0;
    padding: 0;
}

header {
	display:flex;
	flex-direction:row;
    text-align: center;
    justify-content:flex-start;
    
}

header a {
	
    margin: 0 10px 0 10px;
    color: black;
    text-decoration: none;
    font-size: 1.4em;
}


header a:hover {
    color: Red;
    font-size: 1.6em;
   transition: 0.7s;
}

header a img {
	width:150px;
	height:50px;
    margin: 0 10px 0 10px;
    color: black;
    text-decoration: none;
    font-size: 1.4em;
}
header a img:hover {
	opacity: 0.7;
}

#imghome {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 20%;
    right: 10%;
    transform: rotate(-10deg);
    box-shadow: 5px 5px 30px black, -5px -5px 30px black;
}
@media screen and (max-width: 1100px){
    #imghome{
        display: none;
    }
    div{
        margin:40% 0 0 0;
        flex-direction: column;
        justify-content: flex-start;
    }
    @media screen and (max-width: 750px) {
        body{
            background: url(/img/home_bg_mobile1.png);
        }
        header{flex-direction: column;
            justify-content: flex-start}
        header a{
            font-size: 1.5em;
            height: auto;
            margin: 0;
            background: linear-gradient(darkblue, rgb(72, 96, 175));
            color: #fefefe;
        }
        header a:hover{
            background: white;
        }
        header a img:hover {
            opacity: 1;
        }
        .homePRE{
            font-family: poppins;
            margin:0 0 5% 7%;
            font-size: 1.9em;
            transform: none;
        }
        .homeBTN{
            flex-direction: column;
            margin: 30% 0 0 40%;
        }
    }
}

pre {
    float: left;
    font-family: Dancing Script;
    font-size: 4em;
    margin: 0 0 0 12%;
    transform: rotate(-10deg);
}

div {
    width: max-content;
    margin: 23% 0 0 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div a {
    width: auto;
    height: 3%;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1% 1%;
    margin: 0 1%;
    color: black;
    text-decoration: none;
    text-align: center;
}

div a:hover {
    background-color: black;
    color: white;
    transition: 0.8s;
}