server:
  port: 80
logging:
  level:
    net:
      guides: DEBUG
    org:
      hibernate: ERROR
      springframework:
        web: INFO
spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  datasource:
    password: Pvpi0fDgyXONhf7PWxIYeeIbdtQFgYZy
    url: jdbc:postgresql://dpg-cgks08seoogkndl25pp0-a.oregon-postgres.render.com:5432/formatec
    username: formatec_user
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size:
        5MB
paypal:
  mode: sandbox
  client:
    id: AarJUYm7vexJFMMQmKyrWgHoKL29ZV8jWeguHi_E0cwH8bZeQlI5heKZnFgs2-ViwM-jijICjB3bipHg
    secret: EPHp_EJlvFD1Ug4AcfQtgOd-bXRh_uPJJeGz2OtRN5QixDzWLeZOP-4YaNHlP3l9iYyJEsDBJnmFUUNZ